/* body {
    font-family: 'Graduate', cursive;
}

input:not([type="checkbox"]), input:not([type="radio"]) {
    width : 100%;
    display : inline-block;
}

input[type="radio"] {
    width : 5%;
}

form > div {
    width: 40%;
    display: inline-block;
    margin-left: 40px;
    text-align: left;
}

#image-bg {
    background : url('../img/kawak.jpg') no-repeat;
    height : 60vh;
    background-position: 90% 90%;
    border-radius: 10px 0 0 10px;
}

#section-contain {
    margin-top : 4.5%;
    height : 60vh;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.45);
    border-radius: 10px;
}

h2 {
    margin : 2% 0;
    position : relative;
    text-align: center;
}

h2::before, h2::after {
    content : '';
    position : absolute;
    top : 50%;
    width : 25%;
    height : 2px;
    background-color : black;
}

h2::before {
    left : 0;
}

h2::after {
    right : 0;
}

#options {
    margin-top : 15%;
    text-align: center;
}

#options > a {
    text-decoration: none;
    color : black;
    margin : 0 20px;
    transition: 0.4s;
}

#options > a:hover {
    color : #f6b94a;
    transition: 0.4s;
}

input::placeholder {
    color : rgba(0,0,0,.5);
}

label {
    font-size : 1.2em;
    margin : 0;
}

input:focus {
    transition : 0.6s;
    background-color : #f6b94a;
    color : black;
}

button:not(.draw) {
    display : block;
    margin : auto;
    background: none;
    border: 2px solid rgba(0, 0, 0, .5);
    padding: 1em 2em;
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
    outline: none;
    transition: 0.4s;
}

button:not(.draw):hover {
    border-color : #f6b94a;
    transition: 0.4s;
    color : #f6b94a;
    box-shadow: 0 0.5em 0.5em -0.4em #f6b94a;
    transform: translateY(-0.25em);
}

button:not(.draw):focus {
    outline : none;
}

.triangle{
    position : absolute;
    bottom : 0;
    right : 0;
    height : 0;
    width : 0;
    border-bottom : 150px solid #f6b94a;
    border-left : 150px solid transparent;
} */

body {
    font-family: 'Graduate', cursive;
}

#container-registration {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.45);
    width : calc(40vw + 600px);
    margin : 1% auto;
}

article {
    width : 40vw;
}

#image-bg {
    background : url('../img/kawak.jpg') no-repeat;
    background-size : cover;
    background-position: 90% 90%;
}

.form_wrapper {
    background: #fff;
    width: 600px;
    max-width: 100%;
    padding: 25px;
    position: relative;
    border-top: 5px solid #f6b94a;
}

.form_wrapper h2 {
    font-size: 1.5em;
    margin: 0;
}

.form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
}

.form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper .row>div {
    padding: 0 15px;
    box-sizing: border-box;
}

.form_wrapper .col_half {
    width: 50%;
    float: left;
}

.form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
}

.form_wrapper .input_field>span {
    position: absolute;
    /* left: 0; */
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #cccccc;
    text-align: center;
    width: 30px;
}

.form_wrapper .input_field>span>i {
    padding-top: 10px;
}

.form_wrapper .textarea_field>span>i {
    padding-top: 10px;
}

.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="password"], textarea, .form_wrapper input[type="file"], .form_wrapper input[type="tel"], .form_wrapper input[type="number"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
    transition: all 0.30s ease-in-out;
}

.form_wrapper input[type="text"]:hover, .form_wrapper input[type="email"]:hover, .form_wrapper input[type="password"]:hover, textarea:hover, .form_wrapper input[type="file"]:hover, .form_wrapper input[type="tel"]:hover, .form_wrapper input[type="number"]:hover {
    background: #fafafa;
}

.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="password"]:focus,textarea:focus, .form_wrapper input[type="file"]:focus, .form_wrapper input[type="tel"]:focus, .form_wrapper input[type="number"]:focus {
    box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    border: 1px solid #f5ba1a;
    background: #fafafa;
}

.form_wrapper input[type="submit"] {
    background: #f6b94a;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    transition: all 0.30s ease-in-out;
}

.form_wrapper input[type="radio"]:not(:first-of-type) {
    margin-left : 20px;
}

button:not(.draw) {
    display : block;
    margin : auto;
    background: none;
    border: 2px solid rgba(0, 0, 0, .5);
    padding: 1em 2em;
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
    outline: none;
    transition: 0.4s;
}

button:not(.draw):hover {
    border-color : #f6b94a;
    transition: 0.4s;
    color : #f6b94a;
    box-shadow: 0 0.5em 0.5em -0.4em #f6b94a;
    transform: translateY(-0.25em);
}

button:not(.draw):focus {
    outline : none;
}

@media (max-width: 1000px) {
    #image-bg {
        display : none;
    }

    #container-registration {
        width : 500px;
    }
}

@media (max-width: 600px) {
    .form_wrapper .col_half {
        width: 100%;
        float: none;
    }
    .bottom_row .col_half {
        width: 50%;
        float: left;
    }
    .form_container .row .col_half.last {
        border-left: none;
    }

}